ailearnjour
courseFiles
ailearnenv
.vscode
.DS_Store
LL_CourseRepos
8 - Neural Networks/data/annclassification 
8 - Neural Networks/.ipynb_checkpoints/*
anaconda_projects
.env
10 - Agentic AI/langlang
10 - Agentic AI/data
11 - AI map/data
.ipynb_checkpoints
.idea
data
resources
.venv
env
.env
